.max-width\:base {
  max-width: var(--measure-width);
}

.max-width\:none {
  max-width: none;
}

.display\:none {
  display: none;
  visibility: hidden;
}

.font\:reduced {
  font-size: var(--font-size-reduced);
}

.visibility\:hidden {
  width: 1px;
  height: 1px;
  position: absolute;
  z-index: -10;
  left: -9999px;
}

.padding\:none {
  padding: 0;
}

.flex-basis\:100 {
  flex-basis: 100%;
}

.list\:none {
  list-style: none;
}
