.max-width\:base {
  max-width: var(--measure-width);
}

.max-width\:none {
  max-width: none;
}

.display\:none {
  display: none;
  visibility: hidden;
}

.font\:reduced {
  font-size: var(--font-size-reduced);
}

.visibility\:hidden {
  width: 1px;
  height: 1px;
  position: absolute;
  z-index: -10;
  left: -9999px;
}

.padding\:none {
  padding: 0;
}

.flex-basis\:100 {
  flex-basis: 100%;
}

.list\:none {
  list-style: none;
}

.body\:width {
  max-width: 95%;
  width: 80%;
  width: clamp(55rem, 60vw, 80%);
  margin: 0 auto;
}

.text-align\:right {
  text-align: right;
}

.animation\:flash,
.animation\:flash-before::before {
  animation-name: flash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: linear;

  /* animation: flash 2s linear 0s infinite forwards; */
}
