<!DOCTYPE html>
<html lang="en">

<head>
  {% include "partials/head.liquid" %}
</head>

<body class="no-js no-animate no-component">
  {% include "partials/navigation.liquid" %}
  {{ page.content }}
</body>

</html>