<!DOCTYPE html>
<html lang="en">

<head>
  {% include "partials/head.liquid" %}
</head>

<body class="no-js no-animate no-component">
  {% if site.data.config.home_background %}
    {% include "partials/background.html" %}
  {% endif %}

  {% include "partials/navigation.liquid" %}
  
  <main class="home">
    {{ page.content }}
  </main>

  <script>
    (function() {
      const mm = window.matchMedia;
    
      // accessibility checks
      if (mm && (mm('(prefers-reduced-motion: reduce)').matches)) {
        return;
      }

      const s = document.createElement('script');
      s.setAttribute('type', 'module');
      s.setAttribute('defer', 'true');
      s.src = '{{ site.base_url }}/assets/js/lib/list-scroll.js';
      document.body.append(s);
    })();
  </script>
</body>

</html>