:root {
  /* typograohy scale */
  --ratio: 1.5;
  --s0: 1.066rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s-small: calc(var(--s0) * 0.85);
  --font-sans-serif: 'Manrope', 'Open Sans', 'Roboto', 'Source Sans Pro', Helvetica, Arial, sans-serif;
  --font-monospace: 'SpaceMono', 'Fira Code', 'JetBrains Mono', 'Courier New', 'Lucida Console', 'Consolas', monospace;

  /* font variables */
  --font-heading: var(--font-sans-serif);
  --font-sub-heading: var(--font-sans-serif);
  --font-body: var(--font-monospace);
  --font-size-reduced: 0.8em;

  /* colours */
  --white: #fff;
  --black: #111;
  --black-secondary: #121211;
  --highlight: #ff2877;
  --highlight-offset: #cc215f;
  --highlight-2: #d4ff02;

  /* theme */
  --app-colour-body: var(--black);
  --app-colour-background: var(--white);
  --stripe-width: 3px;

  /* layout */
  --measure-width: 66ch;
  --grid-columns-full: repeat(4, 1fr);

  /* animation */
  --elem-width: 2vh;
  --background: var(--app-colour-background);
  --foreground: var(--app-colour-body);
  --gradient-colour: rgba(0, 0, 0, 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    /*
      Make black and white less contrasty in dark mode
    */

    /* --black: #121212; */
    --white: #cdcdcc;
    --app-colour-body: var(--white);
    --app-colour-background: var(--black);
    --gradient-colour: var(--foreground);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: var(--measure-width);
  font-size: var(--s0);
  font-family: var(--font-body);
  line-height: var(--ratio);
  color: var(--app-colour-body);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

*::before,
*::after {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
