<header>
    <noscript>
        {% include "partials/navigation/nav-items.njk" %}
    </noscript>
    {% include "partials/navigation/menu-button.njk" %}
    {% include "partials/navigation/slide-menu.njk" %}
</header>