<header>
    <noscript>
        {% include "partials/navigation/nav-items.njk" %}
    </noscript>
    <div>
        <!-- no component navigation-->
        {% include "partials/navigation/nav-items.njk" %}
    </div>
    
    {# web components for main navigation #}
    {% include "partials/navigation/menu-button.njk" %}
    {% include "partials/navigation/slide-menu.njk" %}
</header>