---
permalink: "/{{slug}}"
layout: default.liquid
pagination:
  include: Categories
---


{% if paginator.indexes %} {% comment %} meta paginator case {% endcomment %}
  <header class="max-width:base5 padding:1em">
    <h1>categories</h1>
  </header>

  {% include "partials/paginated-meta.liquid" %}

{% else %} {% comment %} normal paginator case {% endcomment %}

  <header class="max-width:base5 padding:1em">
    <h1>
      {{ paginator.index_title }}
    </h1>
  </header>
  <main class="max-width:base5">
    {% include "partials/paginated-list.liquid" %}
  </main>

{% endif %}