<style>  
  .outline {
    position: absolute;
    width: 100%;
    height: calc(var(--elem-width) * 0.75);
    background-color: var(--app-colour-body);
    top: 50%;
    transform: translateY(-50%);
  }
  
  .top {
    animation: expand-up 1s 1 normal forwards cubic-bezier(0.9,-1,0.1,1);
  }
  
  .bottom {
    animation: expand-down 1s 1 normal forwards cubic-bezier(0.9,-1,0.1,1);
  }
  
  .up {
    width: 50%;
    left: 50%;
    transform-origin: left center;
    animation: expand-vertical 1s 1 normal forwards cubic-bezier(0.9,-1,0.1,1);
  }
  
  .button {
    height: calc(var(--elem-width) * 2);
    width: calc(var(--elem-width) * 2);
    background-color: var(--app-colour-body);
    border-radius: 50%;
    position: absolute;
    transform-origin: center;
    transform: translate(-50%);
    top: 50%;
    opacity: 0;
  }
  
  .button--a {
    right: 20%;
    animation: pop 1s 0.5s 1 normal forwards cubic-bezier(0.9,-1,0.1,1);
  }
  
  .button--b {
    right: 5%;
    animation: pop 1s 0.55s 1 normal forwards cubic-bezier(0.9,-1,0.1,1);
  }
  
  .d-pad {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: calc(var(--elem-width) * 4);
    height: calc(var(--elem-width) * 4);
    position: absolute;
    transform-origin: center;
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    left: 25%;
    opacity: 0;
    animation: pop-d-pad 1s 0.55s 1 normal forwards cubic-bezier(0.9,-1,0.1,1);
  }
  .d-pad__button {
    background-color: var(--app-colour-body);
  }
  .d-pad__button--up {
    grid-column: 2/3;
  }
  .d-pad__button--right {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .d-pad__button--down {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .d-pad__button--left {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .d-pad__button--centre {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  
  @keyframes expand-up {
    from {
      top: 50%;
    }
    to {
      top: 30%;
    }
  }
  
  @keyframes expand-down {
    from {
      top: 50%;
    }
    to {
      top: 70%;
    }
  }
  
  @keyframes expand-vertical {
    from {
      top: 50%;
    }
    to {
      top: 30%;
      transform: rotate(-90deg);
    }
  }
  
  @keyframes pop {
    from {
      opacity: 0;
      top: 100%;
    }
    to {
      opacity: 1;
      top: 45%;
    }
  }
  
  @keyframes pop-d-pad {
    from {
      opacity: 0;
      top: 100%;
    }
    to {
      opacity: 1;
      top: 50%;
    }
  }
</style>

<div class="animation" aria-hidden="true">
  <div class="animation__container">
    <div class="outline top"></div>
    <div class="outline bottom"></div>
    <div class="outline up"></div>
    <div class="button button--a"></div>
    <div class="button button--b"></div>
    <div class="d-pad">
      <div class="d-pad__button d-pad__button--up"></div>
      <div class="d-pad__button d-pad__button--right"></div>
      <div class="d-pad__button d-pad__button--down"></div>
      <div class="d-pad__button d-pad__button--left"></div>
      <div class="d-pad__button d-pad__button--centre"></div>
    </div>
  </div>
</div>