<header>
  <noscript>
    <nav>
        <ul class="max-width:none">
          <!-- todo: add appropriate rels -->
          {{ range .navigation }}
            <li>
              <a href="{{ .url }}" rel="me">{{ .text }}</a>
            </li>
          {{ end }}
        </ul>
      </nav>
  </noscript>
  {{/* no component navigation */}}
  <div>
    <nav>
        <ul class="max-width:none">
          <!-- todo: add appropriate rels -->
          {{ range .navigation }}
            <li>
              <a href="{{ .url }}" rel="me">{{ .text }}</a>
            </li>
          {{ end }}
        </ul>
      </nav>
  </div>
</header>