<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>{{ .Title }}</title>

{{ if isset .Params "description" }}
<meta name="description" content="{{ .Params.description }}">
{{ else }}
<meta name="description" content="{{ .Site.Data.config.descriptionFallback }}">
{{ end }}
<link rel="canonical" href="{{ .Permalink }}">

{{ range .Site.Data.config.fonts }}
<link rel="preload" href="{{ . }}" as="font" crossorigin="anonymous" />
{{ end }}

{{ $css := resources.Get "css/main.css" | resources.PostCSS (dict "config" "postcss.config.js") }}
<link rel="preload" href="{{ $css.Permalink }}" as="style" />
<link rel="stylesheet" href="{{ $css.Permalink }}" />

{{ $slide := resources.Get "js/components/slide-menu.js" | resources.Minify }}
{{ $backToTop := resources.Get "js/components/back-to-top.js" | resources.Minify }}
<link rel="preload" href="{{ $slide.Permalink }}" as="script" crossorigin="anonymous" />
<link rel="preload" href="{{ $backToTop.Permalink }}" as="script" crossorigin="anonymous" />

<script>
  (function() {
      document.documentElement.classList.remove('no-js');
      if ('customElements' in window) {
          document.documentElement.classList.remove('no-component');
      }
  })();
</script>