a {
  color: var(--app-colour-body);
  transition: all 0.1s ease-out;
  font-weight: bold;
  text-underline-offset: 0.3ch;
}

h1 > a,
h2 > a,
h3 > a {
  font-size: inherit;
  font-family: inherit;
}

a:hover {
  color: var(--highlight);
}

a:focus {
  outline-color: var(--highlight);
  outline-offset: 0.25ch;
  outline-style: solid;
  outline-width: 0.4ch;
}

a:active {
  outline: none;
  color: var(--white);
  background-color: var(--highlight);
  text-decoration: none;
}

a.link-highlight,
.link-highlight--all a {
  color: var(--highlight);
}

a.link-highlight:hover,
.link-highlight--all a:hover {
  color: var(--app-colour-body);
}
