footer {
  /* background-color: var(--black-secondary); */
  width: 100%;
  min-height: 20vh;
  max-width: none;
  padding: 1.66rem 0;
}

footer * {
  font-size: var(--s-small);
}

footer .footer__image {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

footer .footer__image img {
  width: 10vmax;
  height: 10vmax;
  max-width: 125px;
  max-height: 125px;
  border-radius: 50%;
  filter: invert(100%) grayscale(100%) brightness(110%) contrast(150%);
}

footer h2 {
  font-size: var(--s1);
  margin-bottom: 2rem;
}

footer .footer__about {
  border-left: 1ch solid var(--app-colour-body);
  padding-left: var(--mobile-gutter-width);
}

footer .footer__links {
  margin-top: 4rem;
}

footer .footer__links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

footer .footer__links li {
  margin: 1em 2em;
  margin: 1ch 2ch;
  text-transform: lowercase;
}

footer .footer__formal {
  margin-top: 2rem;
}

@media only screen and (max-width: 66em) {
  footer {
    padding-left: var(--mobile-gutter-width);
    padding-right: var(--mobile-gutter-width);
  }

  footer .footer__links ul {
    margin-left: 0;
    flex-direction: column;
  }

  footer .footer__links ul li {
    margin-left: 0;
  }
}
