.signoff {
  margin: 5rem 0;
  display: flex;
  border-bottom: 0.25rem solid var(--app-colour-body);
}

.signoff p {
  background-color: var(--app-colour-body);
  color: var(--app-colour-background);
  width: auto;
  padding: 1.33rem 0.2rem;
  font-size: var(--s1);
  display: inline-block;
  writing-mode: vertical-lr;
  text-orientation: upright;
  margin-bottom: 3rem;
}
