.tag-list ul {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}

.tag-list.tag-list--right ul {
  justify-content: flex-end;
  width: 100%;
}

.tag-list li,
.tag-list.tag-list--home li {
  margin: 0 1rem 0 0;
  margin: 0 1ch 0 0;
  display: inline-block;
}

.tag-list.tag-list--home li a {
  --tag-background-colour: var(--app-colour-background);

  padding: 0.1ch 0.5ch;
  border-radius: 4px;
  background-color: var(--tag-background-colour);
  color: var(--article-background);
  text-underline-offset: 1ch;
}

.tag-list.tag-list--home li a:hover {
  text-decoration-color: var(--tag-background-colour);
}
