
<style>
  {% include "partials/css/base.css" %}
</style>

<!-- todo -->
<!-- add preload for fonts -->
<!-- add prefetch for styles -->

<link href="{{ '/styles/main.css' | url}}" rel="stylesheet" />