.home {
  --scale--normal: scale(1);
  --scale--big: scale(1.2);
  --scale: var(--scale--normal);
  --blur: 0;
}

.home header {
  max-width: 66rem;
  margin: 0 auto 2rem;
  padding: 1rem;
  min-height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home header h1,
.home header p {
  padding: 0.5rem;
  background-color: var(--app-colour-background);
}

.home h2.list-title {
  text-align: right;
  margin-bottom: 5rem;
  font-family: var(--font-monospace);
}

.home h2.list-title::before {
  content: '';
  display: inline-block;
  margin-right: 1ch;
  width: 1ch;
  height: 1ch;
  background-color: var(--app-colour-body);
}

.home header svg {
  position: absolute;
  max-height: 100%;
  z-index: -1;
  left: 50%;
  top: 50%;
  filter: drop-shadow(0 0 0.4rem var(--app-colour-body));
  transform: translate(-50%, -50%);
}

.home header svg * {
  fill: var(--app-colour-body);
  stroke: var(--app-colour-body);
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 6px;
}

.home header div > * {
  transform: rotate(-2deg);
}

.home .article--thing * {
  color: var(--app-colour-background);
}

.home header > div *:nth-child(even) {
  transform: rotate(2deg);
}

.home header .hello {
  writing-mode: vertical-lr;
  font-size: var(--s1);
  background-color: var(--app-colour-body);
  color: var(--app-colour-background);
  padding: 0.65rem 0.5rem;
}

.home ul {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 95%;
  width: 80%;
  width: clamp(55rem, 60vw, 80%);
}

.home li {
  margin: 5rem 0;
  display: flex;
  justify-content: flex-end;
}

.home article {
  --article-background: transparent;

  filter: blur(var(--blur));
  transform: var(--rotation) var(--skew) var(--scale);
  max-width: 100%;
  width: 360px;
  width: 70%;
  padding: 3rem 1rem;
  position: relative;
  background-color: var(--app-colour-background);
}

.home article .article__observer {
  width: 100%;
  height: 35vh;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}

.home .article--thing article {
  --article-background: var(--highlight);

  filter: blur(var(--blur)) drop-shadow(0 0 0.4rem var(--article-background));
  background-color: var(--article-background);
}

.home .article--thing:nth-of-type(even) article {
  --article-background: var(--highlight-2);
}

.home .article--thing a:hover {
  color: var(--app-colour-body);
}

.home .article--thing article::before {
  content: '';
  display: block;
  width: 100%;
  height: 20vh;
  overflow: hidden;
  background: linear-gradient(to top, var(--app-colour-background), var(--article-background));
  filter: drop-shadow(0, 0, 1rem, var(--article-background));
  position: absolute;
  left: -300px;
  top: 400px;
  transform: skew(-70deg, 0deg);
  opacity: 0.04;
}

.home .article__content {
  margin-bottom: 1em;
}

.article--thing .thing-descriptor {
  position: absolute;
  top: -3.5ch;
  right: 0;
  padding: 0 0.5ch;
  font-size: var(--s2);
  color: var(--article-background);
  border: 2px solid var(--article-background);
  display: block;
}

.thing-descriptor::before {
  display: block;
  text-align: right;
}

.article--codepen .thing-descriptor::before {
  content: "コデペン";
}

.article--github .thing-descriptor::before {
  content: "ゲテホべ";
}

@media only screen and (max-width: 66rem) {
  .home article {
    width: 90%;
  }
}

@media only screen and (max-width: 55rem) {
  .home li {
    justify-content: center;
    margin: 2rem 0;
  }

  .home li.article--thing {
    margin-top: 4rem;
  }

  .home article {
    transform: none;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
  }

  .home article h2 {
    font-size: var(--s1);
  }

  .home .article--thing article::before {
    display: none;
  }

  .home header svg {
    top: 35%;
  }

  .home h2.list-title {
    margin-bottom: 1rem;
    font-size: var(--s1);
  }
}
