<!DOCTYPE html>
<html lang="en" class="no-js no-component">
<head>
    
    {{ partial "head.html" . }}
    
</head>
<body>

  {{ partial "header.html" .Site.Data }}

  <main class="landing">
    <header>
      <h1>Good day</h1>
      <p>Thanks for stopping by.</p>
    </header>
    <section>
      {{ .Content }}
    </section>
  </main>

  {{ partial "footer.html" }}

  {{ $landingScript := resources.Get "js/landing.js" | resources.Minify }}
  <script src="{{ $landingScript.Permalink }}" async defer></script>

  {{ partial "web-components.html" . }}
</body>
</html>