<header>
  
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 474.75 474.75" aria-hidden="true">
    <circle cx="237.38" cy="237.38" r="234.38" />
  </svg>

  <div>
    <h1>Bill's website</h1>
    {% include "content/about.html" %}
  </div>
</header>