<header class="max-width:base5 navigation">
  <nav id="nav">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/posts">Blog</a>
      </li>
      <li>
        <a href="/posts/notes">Notes</a>
      </li>
      <li>
        <a href="/now">/now</a>
      </li>
    </ul>
  </nav>

  <a href="#nav" role="button" aria-label="Show navigation menu" class="navigation__button">
    Menu
  </button>
  <a href="#close-nav" role="button" aria-label="Close navigation menu" class="navigation__button navigation__button--close">
    Close
  </a>
</header>