---
templateEngineOverride: njk
title: Hello, World!
year: 2019
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display|Lexend+Deca&display=swap" rel="stylesheet"> 
  <link href="/styles/main.css" rel="stylesheet"/>
</head>
<body>
  <a style="display:none">TODO: skip to content button</a>
  <header>
    <nav>
      <ul>
        <li>
          <a href="/" rel="me">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/projects">Projects</a>
        </li>
      </ul>
    </nav>
  </header>
  <!-- main entry point -->
  {{ content | safe }}
  <footer>
    <ul>
      <li>© {{ year }} Bill Reid</li>
      <li>Contact: <a href="mailto=me@bl-rd.dev">me@bl-rd.dev</a></li>
      <li>Privacy</li>
    </ul>
  </footer>
</body>
</html>