a {
    color: var(--app-colour-body);
    transition: all 0.1s ease-out;
    font-family: var(--font-body-bold);
  }
  
  a:hover {
    color: var(--highlight);
  }
  
  a:focus {
   outline-color: var(--highlight);
   outline-offset: .25ch;
   outline-style: solid;
   outline-width: .4ch;
  }

  a:active {
    outline: none;
    color: var(--white);
    background-color: var(--highlight);
    text-decoration: none;
  }