.single {
  counter-reset: footnotes;
  margin: 0 auto;
  display: grid;
  grid-template-columns: var(--grid-columns-full);
  grid-template-rows: auto;
  column-gap: 2rem;
}

.single > * {
  grid-column: 2/5;
}

.single a[data-footnote] {
  counter-increment: footnotes;
  text-decoration: none;
  color: inherit;
}

.single a[data-footnote]::after {
  content: '[' counter(footnotes) ']';
  vertical-align: super;
  font-size: 0.7em;
  text-decoration: underline;
  margin-left: 0.5ch;
}

.single footer {
  margin: 1rem 0 2rem;
  padding-top: 2rem;
  border-top: 1px solid var(--app-colour-body);
}

.single footer li {
  list-style: inherit;
  font-size: var(--s-small);
  max-width: none;
}

.single footer li * {
  font-size: var(--s-small);
}

.single p {
  margin-top: 1em;
}

.single h2 {
  margin: 3rem 0 2rem;
}

.single h3 {
  margin: 2.5rem 0 1.75rem;
}

.single > header {
  grid-column: 1/5;
  margin: 0;
  padding: 0 2rem 0.8rem 0;
}

.single > header p,
.single > header p * {
  font-size: var(--s2);
}

.single a[data-footnote] > * {
  font-weight: bold;
}

.single a[data-footnote]:target,
.single > footer :target {
  animation-name: flash-background;
  animation-duration: 3s;
  animation-delay: 0.2s;
}

.single .supplementary + h2 {
  margin-top: 0;
}

.single nav ul {
  margin: 1rem 0;
}

.single > div:not(.supplementary) {
  border-top: solid 0.25rem var(--app-colour-body);
}

.single > div:not(.supplementary) > *:first-child {
  margin-top: 3rem;
}

@media only screen and (max-width: 66rem) {
  .single > * {
    grid-column: 1/5;
    padding: 0 1rem;
    max-width: 100%;
  }

  .single > header p {
    font-size: 7vmin;
  }

  .single footer li {
    list-style-position: inside;
  }

  .single h2 {
    font-size: 7.5vmin;
    word-break: break-word;
  }

  .single h3 {
    font-size: 7vmin;
  }

  .single > .supplementary + *:first-of-type,
  .single > header + :not(.supplementary):first-of-type {
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
