blockquote {
  padding-left: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-left: 1ch solid var(--app-colour-body);
}

blockquote,
blockquote > * {
  font-family: 'SpaceMono Italic', "Fira Code", monospace;
}
