.diagonal-lines {
  content: '';
  margin: 2rem 0;
  display: block;
  width: 100%;
  height: calc(var(--stripe-width) * 5);
  background:
    repeating-linear-gradient(
      -45deg,
      var(--gradient-colour),
      var(--gradient-colour) var(--stripe-width),
      #000 var(--stripe-width),
      #000 calc(var(--stripe-width) * 2)
    );
  background-color: var(--app-colour-body);
}
