nav ul {
  display: flex;
}

nav li {
  margin: 1rem;
  list-style: none;
}

.navigation .navigation__button {
  display: none;
  visibility: hidden;
}

@media only screen and (max-width: 66rem) {
  nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: var(--app-colour-background);
    z-index: 100;
    display: none;
    visibility: hidden;
  }

  #nav:target {
    display: block;
    visibility: visible;
  }

  nav ul {
    display: block;
  }

  nav li {
    text-align: right;
  }

  .navigation #nav {
    position: absolute;
  }

  .navigation__button {
    z-index: 101;
    position: absolute;
  }

  .navigation .navigation__button .navigation__button--close {
    display: block;
    visibility: visible;
  }
}
