.signoff {
  margin-top: 5rem;
  display: flex;
}

.signoff p {
  background-color: var(--app-colour-body);
  color: var(--app-colour-background);
  width: auto;
  padding: 1.33rem 0.2rem 1rem;
  font-size: var(--s1);
  display: inline-block;
  writing-mode: vertical-lr;
  text-orientation: upright;
}
