<header>
  {% comment %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 474.75 474.75" aria-hidden="true">
    <path
      d="M365.52,287.57c-5.41,16.91-43.71,81.27-112.48,81-60.89-.25-118.56-51.05-118.56-118.56A118.56,118.56,0,0,1,253,131.44c53.23,0,96.64,38.31,112,79.5"
      transform="translate(-12.62 -12.62)" />
    <path style="--animation-delay:0.5s"
      d="M198.77,407.5C175.72,400.13,88,347.91,88.35,254.14,88.69,171.12,158,92.5,250,92.5A161.64,161.64,0,0,1,411.65,254.14c0,72.58-52.23,131.77-108.4,152.67"
      transform="translate(-12.62 -12.62)" />
    <path style="--animation-delay:1s"
      d="M70.84,338.81c-13.59-26.37-44.38-147.68,37.22-228.62,72.24-71.66,200.42-79.77,280.2,0,77.37,77.37,77.37,202.82,0,280.2C325.35,453.3,228.79,459.32,162,428.76"
      transform="translate(-12.62 -12.62)" />
    <circle style="--animation-delay:1.5s" cx="237.38" cy="237.38" r="234.38" />
  </svg>
  {% endcomment %}

  {% comment %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 474.75 474.75" aria-hidden="true">
    <circle style="fill:none" cx="237.38" cy="237.38" r="180" />
  </svg>
  {% endcomment %}
  <h1>Bill's website</h1>
  <p>How do? I'm a web developer based in Cumbria. This is where I try and keep track of some of the things I'm working on or interested in.</p>

  {% include "partials/diagonal-lines.liquid" %}

  <p class="hello" aria-hidden="true">こうにちは</p>
</header>