<main class="max-width:base5 padding:1em">
  <ul>
    {% for ptag in paginator.indexes %}
      <li>
        <a href="/{{ ptag.index_permalink }}/">
          {{ ptag.index_title }} ({{ ptag.total_pages }})
        </a>
      </span>
    {% endfor %}
  </p>
</main>