<!DOCTYPE html>
<html lang="en" class="no-js no-component">
<head>
    <head>
    
    {{ partial "head.html" . }}
    
</head>
<body>
  {{ partial "header.html" .Site.Data }}
  <main>
    <article class="single">
      <header>
        <h1>{{ .Title }}</h1>
        <p>{{ .Description }}</p>
      </header>

      <div class="supplementary">
        <div data-button-observer></div>
        <back-to-top></back-to-top>
      </div>

      {{ .Content }}

    </article>
  </main>

  {{ partial "footer.html" }}
  
  {{ partial "web-components.html" . }}
</body>
</html>