<!DOCTYPE html>
<html lang="en" class="no-js no-component no-animate">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "header.html" .Site.Data }}
  <main>
    <article class="single">
      <header>
        <!--  -->
        {{ if isset .Params "animation" }}
        {{ $anim := index .Params "animation" }}
        {{ partial $anim }}
        {{ end }}
        <h1>{{ .Title }}</h1>
        <p>
          {{ if isset .Params "intro" }}
          {{ index .Params "intro" }}
          {{ else }}
          {{ index .Params "description" }}
          {{ end }}
        </p>
      </header>

      {{ if eq .Type "posts" }}
      {{ partial "supplementary.html" . }}
      {{ end }}

      {{ if eq .Title "/now" }}
      <p>Last updated: <time datetime="{{.Lastmod.Format "2006-01-02T15:04:05Z"}}">{{ .Lastmod.Format "January 2, 2006" }}</time> </p>
      {{ end }}

      {{ .Content }}

    </article>
  </main>

  {{ partial "footer.html" }}
  
  {{ partial "web-components.html" . }}
</body>
</html>