.home {
  --rotation: rotate3d(0, 1, 0.3, 20deg);
  --scale--normal: scale(1);
  --scale--big: scale(1.2);
  --scale: var(--scale--normal);
  --skew: skew(6deg, 2deg);
  --blur: 0;
}

.home ul {
  display: flex;
  flex-direction: column;
}

.home li {
  margin: 5rem 0;
  display: flex;
  justify-content: flex-end;
}

.home li article {
  filter: blur(var(--blur));
  transform: var(--rotation) var(--skew) var(--scale);
  width: 50vw;
}
