<p class="codepen" data-height="289" data-theme-id="dark" data-default-tab="result" data-user="bl-rd"
    data-slug-hash="vYEeoNm" data-preview="true"
    style="height: 289px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
    data-pen-title="2">
    <span>See the Pen <a href="https://codepen.io/bl-rd/pen/vYEeoNm">
            2</a> by Bill (<a href="https://codepen.io/bl-rd">@bl-rd</a>)
        on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script defer src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>