<style>
  .vgt-controller {
    opacity: 0;
  }

  .vgt-controller__top {
    animation: expand-up 2s cubic-bezier(0.9,-1,0.1,1) forwards normal;
  }

  .vgt-controller__bottom {
    animation: expand-down 2s cubic-bezier(0.9,-1,0.1,1) forwards normal;
  }

  .vgt-controller__cable {
    animation: expand-vertical 2s 0.1s cubic-bezier(0.9,-1,0.1,1) forwards normal;
  }

  .vgt-button {
    opacity: 0;
    animation: pop 2s cubic-bezier(0.9,-1,0.1,1) forwards normal;
  }

  .vgt-button__a {
    animation-delay: .6s;
  }

  .vgt-button__b {
    animation-delay: .7s;
  }

  .vgt-d-pad {
    opacity: 0;
    animation: pop-d-pad 2s 0.8s cubic-bezier(0.9,-1,0.1,1) forwards normal;
  }

  @keyframes expand-up {
    from {
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes expand-down {
    from {
      transform: translateY(-100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes expand-vertical {
    from {
      transform: translateY(100px) rotate(90deg);
    }
    to {
      opacity: 1;
      transform: translateY(0) rotate(0deg);
    }
  }
  
  @keyframes pop {
    from {
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes pop-d-pad {
    from {
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>

<div class="animation">
  <div class="animation__container padding:none">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" class="animation container">
      <rect class="vgt-controller vgt-controller__top" x="18" y="163" width="464" height="15"/>
      <rect class="vgt-controller vgt-controller__bottom" x="18" y="329" width="464" height="15"/>
      <rect class="vgt-controller vgt-controller__cable" x="242.26" y="17.56" width="15" height="147.44"/>
      <circle class="vgt-button vgt-button__a" cx="310.5" cy="261.5" r="24.5"/>
      <circle class="vgt-button vgt-button__b" cx="367.5" cy="261.5" r="24.5"/>
      <polygon class="vgt-d-pad" points="189.5 240.5 189.5 268.5 162 268.5 162 296 134 296 134 268.5 106.5 268.5 106.5 240.5 134 240.5 134 213 162 213 162 240.5 189.5 240.5"/>
    </svg>
  </div>
</div>