---
permalink: "/{{slug}}"
layout: default.liquid
pagination:
  include: Tags
---

{% if paginator.indexes %} {% comment %} meta paginator case {% endcomment %}
  <header class="max-width:base5 padding:1em">
    <h1>tags</h1>
  </header>

  {% include "partials/paginated-meta.liquid" %}

{% else %} {% comment %} normal paginator case {% endcomment %}

  <header class="max-width:base5 padding:1em">
    <h1>
      Content tagged &ldquo;{{ paginator.index_title }}&rdquo;
    </h1>
  </header>
  <main class="max-width:base5">
    {% include "partials/paginated-list.liquid" %}
  </main>

{% endif %}