aside {
  height: auto;
  min-height: 150px;
  background-color: var(--app-colour-body);
  position: relative;
  color: white;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1rem;
}

aside.extra {
  display: contents;
}

aside.extra > * {
  grid-column: 2/3;
}

aside ul {
  display: flex;
}

aside li {
  margin-right: 0.75em;
}

aside time {
  margin-bottom: 0.3em;
}

aside time,
aside li,
aside li a {
  color: var(--app-colour-background);
  font-family: var(--font-body);
}

.supplementary {
  grid-column: 1/2;
  grid-row: 2/3;
}

.supplementary .supplementary__date {
  background: var(--app-colour-body);
  padding: 0.75rem 0.5rem;
  min-height: 15ch;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.supplementary .supplementary__date * {
  color: var(--app-colour-background);
}

div[data-button-observer] {
  height: 1px;
}

@media only screen and (max-width: 66rem) {
  .single header {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .supplementary {
    /*

    Hide the supplementary class on mobile until a better solution can be thought of...

    grid-column: 1/4;
    position: relative;
    top: auto;
    height: auto;
    */
    display: none;
    visibility: hidden;
  }
}
