aside {
  height: auto;
  min-height: 150px;
  background-color: var(--app-colour-body);
  position: relative;
  color: white;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1rem;
}

aside.extra {
  display: contents;
}

aside.extra > * {
  grid-column: 2/3;
}

aside ul {
  display: flex;
}

aside li {
  margin-right: 0.75em;
}

aside time {
  margin-bottom: 0.3em;
}

aside time,
aside li,
aside li a {
  color: var(--app-colour-background);
  font-family: var(--font-body);
}

.supplementary {
  grid-column: 1/2;
  grid-row: 2/3;
}

.supplementary .supplementary__date {
  background: var(--app-colour-body);
  padding: 0.75rem 0.5rem;
  min-height: 15ch;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.supplementary .supplementary__date * {
  color: var(--app-colour-background);
}

div[data-button-observer] {
  height: 1px;
}

.supplementary--mobile {
  display: none;
  visibility: hidden;
  margin-bottom: 2rem;
}

.supplementary--mobile::after {
  display: inline-block;
  content: '';
  width: 100%;
  height: 10px;
  background: var(--app-colour-body);
  background:
    repeating-linear-gradient(
      -45deg,
      var(--gradient-colour),
      var(--gradient-colour) var(--stripe-width),
      #000 var(--stripe-width),
      #000 calc(var(--stripe-width) * 2)
    );
}

.supplementary--mobile .supplementary__date {
  min-height: initial;
  display: block;
  padding: 0.7rem 4rem 0.7rem 0.7rem;
}

@media only screen and (max-width: 66rem) {
  .single header {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .supplementary {
    display: none;
    visibility: hidden;
  }

  .supplementary--mobile {
    display: inline-block;
    visibility: visible;
  }
}
