img {
  --greyscale: 0%;

  margin: 2rem auto;
  display: block;
  max-width: 100%;
}

@media (prefers-color-scheme: dark) {
  img {
    filter: grayscale(var(--greyscale));
    transition: filter 0.16s ease-out;
  }
}

img:hover {
  --greyscale: 0%;
}
