<!DOCTYPE html>
<html>

<head>
  {% include "partials/head.liquid" %}
</head>

<body class="no-js no-animate no-component">
  <main>
    <h2>{{ page.title }}</h2>
    {{ page.content }}
  </main>
</body>

</html>