<!DOCTYPE html>
<html>

<head>
  {% include "partials/head.liquid" %}

  <title>{{ page.title }}</title>
</head>

<body class="no-js no-animate no-component">
  <main>
    <article>
      <h2>{{ page.title }}</h2>
      {{ page.content }}
    </article>
  </main>
</body>

</html>