<!DOCTYPE html>
<html>

<head>
  {% include "partials/head.liquid" %}
</head>

<body class="no-js no-animate no-component">
  {% include "partials/background.html" %}
  <main class="home">
    {{ page.content }}
  </main>

  <script src="{{ site.base_url }}/assets/js/lib/list-scroll.js" defer type="module"></script>
</body>

</html>