<!DOCTYPE html>
<html>

<head>
  {% include "partials/head.liquid" %}

  <title>{{ page.title }}</title>
</head>

<body class="no-js no-animate no-component">
  <main class="home">
    {{ page.content }}
  </main>
</body>

</html>