@charset "UTF-8";

@font-face {
  font-family: "Manrope";
  src: url("/fonts/manrope-extrabold.woff2") format("woff2"), url("/fonts/manrope-extrabold.woff") format("woff"); /* Legacy browsers */
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "SpaceMono";
  src: url("/fonts/SpaceMono-Regular.woff2") format("woff2"), url("/fonts/SpaceMono-Regular.woff") format("woff"); /* Legacy browsers */
}

@font-face {
  font-family: "SpaceMono Bold";
  src: url("/fonts/SpaceMono-Bold.woff2") format("woff2"), url("/fonts/SpaceMono-Bold.woff") format("woff"); /* Legacy browsers */
}

@font-face {
  font-family: "SpaceMono Italic";
  src: url("/fonts/SpaceMono-Italic.woff2") format("woff2"), url("/fonts/SpaceMono-Italic.woff") format("woff"); /* Legacy browsers */
}
