---
templateEngineOverride: njk
title: Hello, World!
---
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

  {% include "partials/meta/meta.njk" %}

  <title>{{ title }}</title>  

  <script>
    document.documentElement.classList.remove('no-js');
  </script>

  {% include "partials/meta/styles.njk" %}
  
</head>

<body>
  <a style="display:none">TODO: skip to content button</a>

  {% include "partials/navigation/header.njk" %}

  <!-- main entry point -->
  {{ content | safe }}

  {% include "partials/footer.html" %}

  {% include "partials/web-components.html" %}

</body>

</html>