:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;

  --font-body: #23262F;
  --highlight: #F26B76;
}

html {
  background-color: #efefed;
}

a {
  color: var(--font-body);
}