:root {

  --heading-font: 'Akashi', 'Manrope', 'Bungee', sans-serif;

  --base: #fefeff;
  --font-body: #121213;

  --measure-width: 66ch;

  --ratio: 1.5;
  --s0: 1.166rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  /* font variables */
  --font-heading: 'Akashi', 'Manrope', sans-serif;
  --font-sub-heading: 'Manrope', Helvetica, Arial, sans-serif;
  --font-body: 'SpaceMono', monospace;

  /* colours */
  --white: #fff;
  --black: #000;
  --highlight: #FF2877;
  --highlight-offset: #CC215F; 
  --highlight-2: #D4FF02;

  /* theme */
  --app-colour-body: var(--black);
  --app-colour-background: var(--white);
  --stripe-width: 3px;

  /* layout */
  --grid-columns-full: minmax(0,10vmin)  repeat(4, .75fr) minmax(0,10vmin);
  --grid-columns-mobile: auto auto repeat(3, .75fr) auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: var(--measure-width);
  font-size: var(--s0);
  font-family: var(--font-body);
  line-height: var(--ratio);
  color: var(--app-colour-body);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

*:before,
*:after {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html, body, main, article,
article > header,
header > nav {
  max-width: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, p, li, header, section {
  margin: 0.25em 0 1em;
}

article {
  display: grid;
  grid-template-columns: minmax(0,1fr)  repeat(4, .75fr) minmax(0,1fr);
  grid-template-rows: auto;
  grid-gap: 2rem;
}

article > header {
  grid-column: 2/6;
  border-image: repeating-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) var(--stripe-width),
    #000 var(--stripe-width),
    #000 calc(var(--stripe-width) * 2)
  ) 15;
  border-bottom: 15px solid black;
  padding: 0 2rem 0.8rem 0;
  
}

article > header p {
  font-size: var(--s2);
}

article nav ul {
  margin: 1rem 0;
}

header > * + *,
section > * + * {
  max-width: var(--measure-width);
}

.supplemtary {
  grid-column: 2/3;
  grid-row: 2/5;
}

.supplemtary nav {
  border-top: 1px solid black;
  border-bottom: var(--stripe-width) solid black;
}

section {
  grid-column: 3/6;
}

section:first-of-type {
  margin-top: 0;
}

section:first-of-type header {
  margin-top: 0;
}

section:first-of-type header h2 {
  margin-top: 0;
}

h1 {
  margin-bottom: 0.33em;
  font-family: var(--font-heading);
  display: inline-block;
  font-size: var(--s4);
  line-height: calc(var(--ratio) / 1.3);
}

h2 {
  font-size: var(--s2);
  position: relative;
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  margin-bottom: 0.18em;
}

a {
  color: black;
}

li {
  list-style: none;
}

aside {
  height: auto;
  background-color: black;
  position: relative;
  color: white;
  margin-top: 1rem;
}

aside ul {
  padding: 1rem;
}

aside ul li {
  color: var(--app-colour-background);
}

aside::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  width: 100%;
  margin-top: 1em;
  height: calc(var(--stripe-width) * 5);
  background: repeating-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) var(--stripe-width),
    #000 var(--stripe-width),
    #000 calc(var(--stripe-width) * 2)
  );
}

@media only screen and (max-width: 66rem) {
  :root {
    --measure-width: auto;
  }
  article {
    grid-template-columns: auto auto repeat(3, .75fr) auto;
    grid-column-gap: 0px;
    padding: 0 1rem;
  }
  .supplemtary {
    grid-column: 3/6;
    height: auto;
  }
  
  section:first-of-type {
    margin-top: 3.33rem;
  }
}