.landing {
  min-height: 85vh;
}

.landing header {
  max-width: 100ch;
  margin: 0 auto;
  position: relative;
  top: 15vmin;
  padding: 1ch;
}

.landing h1 {
  font-size: 15vmin;
}

.landing p {
  padding-left: 0.66em;
  max-width: var(--measure-width);
}
