.landing {
  --shadow-colour: var(--highlight);
}

.landing header {
  min-height: 100vh;
  background-color: var(--font-body);
}

.landing h1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 5vmin;
  text-shadow: none;
  margin: 0;
}

.landing h1::before {
  display: none;
}

.landing .landing--large {
  display: block;
  font-family: var(--heading-font);
  letter-spacing: -0.01ch;
  line-height: 15vmin;
  font-size: 14vmin;
  color: var(--base);
  grid-column: 2/11;
  transform: rotate(-15deg);

  opacity: 0;
  margin-top: 1.2ch;
  animation-name: appear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.landing__top {
  animation-delay: 0.5s;
}

.landing__middle {
  animation-delay: 1.1s;
  padding-left: .5ch;
}

.landing__bottom {
  animation-delay: 1.7s;
  padding-left: 1ch;
}

.landing__last {
  animation-delay: 2.3s;
  padding-left: 1.5ch;
}

.landing--shadow.landing--large[data-shadow-text]::before {
  content: attr(data-shadow-text);
  position: absolute;
  color: var(--shadow-colour);
  z-index: -1;
  opacity: 0;
  animation-name: shadow;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.landing section {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.landing section p {
  grid-column: 4/11;
  grid-row: 7/9;
  background-color: var(--font-body);
  color: #efefed;
  padding: 2em;
  margin-top: -2em;
}

.landing section p a {
  color: #efefed;
}

.landing section a {
  grid-column: 7/12;
  grid-row: 9/11;
}

.landing img {
  width: 30vmin;
  height: 30vmin;
  border-radius: 50%;
  border: 2vmin solid var(--font-body);
  border-image-outset: 1ch;
  grid-column: 7/9;
  grid-row: 2/7;
}

@keyframes appear {
  0% {
    opacity: 0;
    margin-top: 1.2ch;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes shadow {
  0% {
    opacity: 0;
    margin-left: 0;
  }
  100% {
    opacity: 1;
    margin-left: -0.2ch;
    text-shadow: -0.1ch 0 0 var(--highlight-offset);
  }
}

@media only screen and (max-width: 60rem) {
  .landing h1 {
    font-size: 12vmax;
    letter-spacing: inherit;
    line-height: 1;
  }
  .landing .landing--large {
    padding-left: 0;
    transform: (0deg);
  }
}