.landing {
  display: block;
}

.landing header {
  min-height: 100vh;
  background-color: var(--font-body);
}

.landing h1 {
  display: flex;
  flex-direction: column;
  max-width: 92vw;
  letter-spacing: -0.1em;
}

.landing .landing--large {
  font-size: 20vmin;
  color: var(--base);
  text-shadow: -0.3ch 0 0 #181a20;
}

.landing--large .highlight {
  font-size: inherit;
  color: inherit;
  text-shadow: inherit;
}

.landing--large .highlight::after {
  display: block;
  content: '';
  width: 100%;
  height: .7ch;
  background-color: var(--highlight);
  background-image: var(--highlight-gradient);
  margin-top: -0.4ch;
}

.landing section {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.landing section p {
  grid-column: 4/11;
  grid-row: 7/9;
  background-color: var(--font-body);
  color: #efefed;
  padding: 2em;
  margin-top: -2em;
}

.landing section p a {
  color: #efefed;
}

.landing section a {
  grid-column: 7/12;
  grid-row: 9/11;
}

.landing img {
  width: 30vmin;
  height: 30vmin;
  border-radius: 50%;
  border: 2vmin solid var(--font-body);
  border-image-outset: 1ch;
  grid-column: 7/9;
  grid-row: 2/7;
}

@media only screen and (max-width: 60rem) {
  .landing h1 {
    display: block;
    font-size: 12vmax;
    letter-spacing: inherit;
    line-height: 1;
  }
}