nav {
  position: fixed;
  right: 2rem;
  top: 2rem;
}

nav button {
  display: none;
  visibility: hidden;
}

nav ul {
  list-style: none;
}

nav li {
  margin: 1rem;
  text-align: right;
  transition: all 0.16s ease-out;
  background-color: var(--font-body);
}

nav li:hover {
  background-size: 200%;
  transform: scale(1.05);
}

nav li a {
  color: var(--base);
  width: 100%;
  display: inline-block;
  padding: 0.66rem 1.5ch;
  text-transform: uppercase;
  text-decoration: none;
}

.mobile-menu button {
  margin-right: 1rem;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 0;
  background-color: var(--font-body);
  color: white;
  transform-origin: center;
  transition: all 0.2s;
}

nav {
  right: initial;
  top: 0;
  left: 150vw;
  z-index: 999;
  transition: left 0.25s ease-out;
  background-color: var(--highlight);
  width: 100vw;
  height: 100vh;
}

nav li {
  background-color: initial;
  max-width: initial;
  margin-right: -30vw;
  opacity: 0;
  transition: all 0.2s ease;
}

nav li a {
  padding-right: 0.7ch;
  font-size: var(--s3);
  font-family: var(--heading-font);
  text-shadow: -0.2ch 0 0 var(--font-body);
  display: inline;
  position: relative;
}

nav li.active a::before {
  content: '';
  display: block;
  z-index: -1;
  width: 1ch;
  height: 1ch;
  background-color: var(--highlight-2);
  position: absolute;
  left: .5ch;
  top: .5ch;
  transform: translateY(50%) rotate(-15deg);
  transition: all 0.12s ease-out;
}

nav li.active:hover a::before {
  transform: translate(20%, 70%) rotate(-37deg) scale(1.2);
}

nav.show {
  transition: left 0.25s ease-out;
  left: 0;
}

nav.show li {
  animation-name: list-appear;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
}

nav.show li:nth-child(1) {
  animation-delay: 0.2s;
}

nav.show li:nth-child(2) {
  animation-delay: 0.3s;
}

nav.show li:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes list-appear {
  0% {
    margin-right: -30vw;
    opacity: 0;
  }
  100% {
    margin-right: 20vmin;
    opacity: 1;
  }
}

@media only screen and (max-width: 60rem) {
}
