nav {
  position: fixed;
  right: 2rem;
  top: 2rem;
}

nav button {
  display: none;
  visibility: hidden;
}

nav ul {
  list-style: none;
}

nav li {
  margin: 1rem;
  text-align: right;
  transition: all 0.16s ease-out;
  background-color: var(--font-body);
}

nav li:hover {
  background-size: 200%;
  background-color: var(--highlight);
  transform: scale(1.05);
}

nav li:hover a {
  color: var(--font-body);
}

nav li a {
  color: var(--base);
  width: 100%;
  display: inline-block;
  padding: 0.66rem 1.5ch;
  text-transform: uppercase;
  text-decoration: none;
}

nav li a:visited {
  color: var(--base);
}

.mobile-menu button {
  margin-right: 1rem;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 0;
  background-color: var(--font-body);
  color: white;
  transform-origin: center;
  transition: all 0.2s;
}

nav {
  right: initial;
  top: 100vh;
  z-index: 999;
}

nav li {
  background-color: initial;
  max-width: initial;
  margin-right: 10vmin;
}

nav li a {
  padding-right: 0.7ch;
  font-size: var(--s3);
  font-family: var(--heading-font);
  text-shadow: -0.2ch 0 0 var(--font-body);
}

nav.show {
  transition: top 0.25s ease-in;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--highlight);
}

@media only screen and (max-width: 60rem) {
}
