.max-width\:base {
  max-width: var(--measure-width);
}

.max-width\:none {
  max-width: none;
}

.display\:none {
  display: none;
  visibility: hidden;
}

.font\:reduced {
  font-size: var(--font-size-reduced);
}